<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cards.css">
    <title>Hello, world!</title>
  </head>
  <body ng-app="myApp">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">Literature</a>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">

        
      </div>
      <!-- Collapsible content -->

    </nav>
<!--/.Navbar-->
    <!-- Creds form -->
    <div ng-controller="connect" class="container mt-2" id='connect'>
      <legend>Credentials</legend>
      <div class="d-flex mt-0">
        <div class="md-form">
          <input type="text" value="hello" class="form-control" ng-model="server">
          <label>Server</label>
        </div>
        <div class="md-form">
          <input type="password" value="hello" class="form-control" ng-model="password">
          <label>Password</label>
        </div>
        <div class="md-form">
          <input type="text" class="form-control" ng-model="id">
          <label>Id</label>
        </div>
        <div class="md-form">
          <input type="text" class="form-control" ng-model="name">
          <label>Name</label>
        </div>
      </div>
      <button class="btn btn-primary" ng-click="connect()">Connect</button>
    </div>

    <div class="container" ng-controller="cards">
      <div class="row align-items-center">
        <div class="col">
          <div class="h3 pt-3 mb-0">{{ name }}</div><p>@{{ id }}</p>
        </div>
        <button class="btn btn-primary mb-0" ng-click="ping()">Refresh</button>
      </div><hr>
      
      <div class="row">
        <div class="col">
          <!-- Menu -->
          <section class="row justify-content-center">
          <div>
            <button onclick="displaySet(1)" class="btn btn-primary">Hearts <br> Upper</button index=><br>
            <button onclick="displaySet(0)" class="btn primary-color-dark text-white">Hearts <br> Lower</button>
          </div>       

          <div>
            <button onclick="displaySet(3)" class="btn btn-primary">Spades <br> Upper</button><br>
            <button onclick="displaySet(2)" class="btn primary-color-dark text-white">Spades <br> Lower</button>
          </div>
    
          <div>
            <button onclick="displaySet(5)" class="btn btn-primary">Clubs <br> Upper</button><br>
            <button onclick="displaySet(4)" class="btn primary-color-dark text-white">Clubs <br> Lower</button>
          </div>

          <div>
            <button onclick="displaySet(7)" class="btn btn-primary">Diamonds <br> Upper</button><br>
            <button onclick="displaySet(6)" class="btn primary-color-dark text-white">Diamonds <br> Lower</button>
          </div>
          </section>
          <!-- Cards -->
          <section class="cards container"></section>      
          <section class="cards container"></section>

          <section class="cards container"></section>
          <section class="cards container"></section>

          <section class="cards container"></section>      
          <section class="cards container"></section>

          <section class="cards container"></section>
          <section class="cards container"></section>
        </div>

        <!-- Reponse form -->
        <div class="col">
            <div class="alert alert-{{ messageType }}" id="alert">
              Welcome to the game!
            </div>
          <div class="input-group mb-3">
            <select class="browser-default custom-select" ng-model='suit'>
              <option selected>Choose...</option>
              <option value="hearts">hearts</option>
              <option value="spades">spades</option>
              <option value="diamonds">diamonds</option>
              <option value="clubs">clubs</option>
            </select>
            <div class="input-group-append">
              <label class="input-group-text">Suit</label>
            </div>
          </div>
          <div class="input-group mb-3">
            <select class="browser-default custom-select" ng-model='number'>
              <option selected>Choose...</option>
              <option value="A">A</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="J">J</option>
              <option value="Q">Q</option>
              <option value="K">K</option>
            </select>
            <div class="input-group-append">
              <label class="input-group-text">Number</label>
            </div>
          </div>
          <button class="btn btn-primary btn-block">Ask {{number}} of {{ suit }}</button>
          <p></p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/helpers.js"></script>
    <!-- Optional JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
  </body>
</html>