
    <form class="login-form">
        <legend>Login Form</legend>
        <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="server" class="form-control">
            <label>Server IP</label>
        </div>
        <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="username" class="form-control">
            <label>Username</label>
        </div>
        <button href='/game' (click)="connectToGame()" type="button" mdbBtn color="danger" mdbWavesEffect>Danger</button>
      </form>      

