/* 
Colors directly ripped from https://material.io/design/material-studies/reply.html#color
    Reply Blue
    * Light   #4a6572 
    * Darker  #344955
    * Darkest #232f34
    Orange
    * #f9aa33
*/

html {
    scroll-behavior: smooth;
}

body{
    /* background-image: url('../img/cards.jpg');
    background-attachment: fixed;
    background-size: cover; */
    background-color: #344955;
}

*{
    font-family: 'Nunito', sans-serif;
}
.btn{
    font-size: 1em;
    text-transform: none;
}
.btn-large-font{
    font-size: 2em;
}

.window{
    min-height: 100vh;
    display:flex;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#connect{
    background-color: rgba(255, 255, 255, 0.95);
    color: white;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#connect > *{
    margin: 2em;
}

#connect > legend{
    margin: 0;
    padding: 1em;
    text-align: center;
}

#cards, #all-chat{
    padding: 0;
    height: calc(100vh - 0px);
}

.turn{
    color: #fff;
    background-color: #f9aa33;
}

.player-border{
    border: 1px solid #73858e;
    border-collapse: collapse;
}
.reply-orange{
    color: #fff ;
    background-color: #f9aa33;
}

.reply-light{
    color: #fff ;
    background-color: #4a6572;
}
.reply-darker{
    color: #fff ;
    background-color: #344955;
}
.reply-darkest{
    color: #73858e ;
    background-color: #232f34;
}

.buttons .btn:hover{
    color: #344955;
}

#all-chat .footer{
    height: 4em;
    font-size: 1.5em;
}

.message{
    margin: 0;
    display: flex;
    align-items: stretch;
}

.message .message-sender{
    color: #f9aa33;
    font-size: 1em;
    font-weight: 600;
    width: 100px;
    padding: 1em;
    border-right: 1px solid #232f34;
}

.message .message-text{
    color: white;
    font-size: 1em;
    padding: 1em;
    flex-grow: 1;
}

.message .message-console{
    text-align: center;
    color: #f9aa33;
    font-size: 1em;
    font-weight: 600;
    padding: 1em;
    flex-grow: 1;
}